<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()" >
      <div>
        <div class="ui-g-12">
          <h1>Relatórios</h1>
        </div>

        <label style="margin-left: 8px;">Tipo de Relatório</label>
        <div class="ui-g-12">
          <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome">

          <label>Período</label>
          <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"> até <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome">
        </div>

        <div class="ui-g-12">
          <button type="submit" label="Gerar" pButton></button>
          <button type="submit" label="Cancelar" pButton></button>
        </div>
      </div>

      <div class="ui-g-12">
        <app-pessoas-grid [pessoas]="pessoas" [filtro]="filtro" [totalRegistros]="totalRegistros" ></app-pessoas-grid>
      </div>

    </form>


</div>



